{
   "presets": [
      [
         "@babel/preset-env",
         {
            "targets": {
               "node": "current"
            }
         }
      ],
      [
         "@babel/preset-react"
      ]
   ],
   "plugins": [
      [
         "@babel/plugin-proposal-class-properties"
      ],
      [
         "module-resolver",
         {
            "extensions": [
               ".js",
               ".jsx"
            ],
            "root": [
               "."
            ],
            "alias": {
               "~": "./src",
               "@components": "./src/components",
               "@pages": "./src/pages"
            }
         }
      ]
   ]
}
