@import '../../global.scss';

.wrapper {
   width: 100%;
   height: 95px;
   font-size: 40px;
   font-weight: 500;
   cursor: pointer;
   background: none;
   border: 1px solid map-get($color-type, line-space);
   span {
      opacity: 0.9;
   }
}

.expression {
   color: map-get($color-type, color-text);
   background-color: map-get($color-type, button-expression);
}

.isNumber {
   color: map-get($color-type, color-text);
   background-color: map-get($color-type, secondary);
}

.optional {
   color: map-get($color-type, color-text);
   background-color: map-get($color-type, button-expression-other);
}

.button--zero {
   grid-column-start: 1;
   grid-column-end: 3;
   border-bottom-left-radius: 25px;
}

.button--equal {
   border-bottom-right-radius: 25px;
}