@import '../../global.scss';

.calculatorHeader {
   background-color: map-get($color-type, primary);
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   padding: 10px;
   display: flex;
}

.icon {
   margin-left: 15px;
   display: flex;
   flex-direction: row;
   gap: 10px;

   &Circle {
      border-radius: 50%;
      border: 10px solid transparent;
      &-red {
         border-color: rgb(240, 95, 95);
      }
      &-yellow {
         border-color: rgb(233, 233, 109);
      }
      &-green {
         border-color: rgb(95, 240, 95);
      }
   }
}


