$color-type: (
   primary: #534b4c,
   secondary: #847d7d,
   button-expression: #fd9e2b,
   button-expression-other: #6b6364,
   line-space: #5e5657,
   color-text: #ffff,

   option-calculation-one: #34c548,
   option-calculation-two: #fcbb40,
   option-calculation-three: #fc625e,
);

$font-weight: (
   regular: 400,
   medium: 500,
   bold: 900,
);

$font-family: (
   primary: 'Courier New',
   secondary: 'Roboto',
);

